{% extends 'layout.html.twig' %}
{% block title %}
	{{parent()}}-tarifs
{% endblock %}
{% block content %}
	<h1>Nos tarifs</h1>
	<table class="uk-table uk-table-hover uk-table-divider">
		<thead>
			<tr>
				<th>Libellé</th>
				<th>Prix</th>
				<th>Reservé</th>
			</tr>
		</thead>
		<tbody>
			{% for chambre in chambres %}
				<tr>
					<td>{{chambre.name}}</td>
					<td>{{chambre.prix}}</td>
					<td><a class="uk-button uk-button-default" href="/reservation">Reservations</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
