{% extends 'layout.html.twig' %}
{% block content %}
<form class="form-reservation">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Votre réservation</legend>

        <div class="uk-margin">
            <input class="uk-input uk-form-width-large"  name="firstname" type="text" placeholder="Votre prénom" aria-label="Input">
        </div>


        <div class="uk-margin">
            <input class="uk-input uk-form-width-large"  name="lastname" type="text" placeholder="Votre nom" aria-label="Input">
        </div>

        <div class="uk-margin">
            <select class="uk-select uk-form-width-large" aria-label="Select">
                <option disabled selected hidden>Choisissez votre chambre</option>
                <option>Chambre 1</option>
                <option>Chambre 2</option>
                <option>Chambre 3</option>
                <option>Chambre 4</option>
            </select>
        </div>

        <div class="uk-margin">
            <textarea class="uk-textarea uk-form-width-large" rows="5" placeholder="Des demandes à nous spécifier" aria-label="Textarea"></textarea>
        </div>
    </fieldset>
</form>
{% endblock %}
