
/* Photo 1 en haut de page */
.uk-height-medium {
    height: 100%;
    margin: 0 80px 0 80px;
}

/* Titre de la chambre + déscriptif */
.title-room {
    font-family: "Playfair Display", serif;
    color: #324C5D;
    padding-top: 2rem;
    text-align: center;
}
.uk-column-1-2-r {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1.3rem;
    box-shadow: 10px 10px 15px #8F898B;
    margin: 0 80px 3rem 80px;
    padding: 1.5rem;
}

/* Premier carrousel */
.uk-position-relative {
    padding-bottom: 4rem;
    padding-top: 3rem;
    margin: 0 80px 0 80px;
}

.uk-container-r {
    background-color: white;
    align-self: center;
}

/* Deuxième titre */
.bottom {
    background-color: #324C5D;
}

.title-activity {
    font-family: "Playfair Display", serif;
    background-color: #324C5D;
    color: white;
    text-align: center;
}

.uk-title {
    background-color: #324C5D;
}

/* Deuxième carrousel */
swiper-container {
    width: 30%;
    height: 30%;
}

swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

/* Zone activités annexes */
.activites-annexe {
    margin: 2rem;
}

.title {
    font-family: "Playfair Display", serif;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.images-r {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2rem 0;
    justify-content: space-around;
}

.images-r>img {
    padding-bottom: 1rem;
}

.paragraph {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 1.2rem;
    justify-content: center;
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

/* Séparateur et Bouton */
.button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 3rem;
}

.uk-divider-vertical {
    height: 30rem;
    margin: 0 2rem 0 1rem;
}

.uk-button-r {
    background-color: #9b7a5a;
    font-size: x-large;
}

    