:root {
    --marron: #9b7a5a;
    --bleu: #324c5d;
    --gris: #8f898b;
}

main {
    background-color: var(--bleu);
}

.uk-align-center {
    border-radius: 0 0 5% 5%;
    height: 30rem;
    width: 65rem;
}

h1 {
  text-decoration: underline;
}

.uk-text-center-text {
    color: white;
    font-family: "Roboto", sans-serif;
}

.uk-card-title {
    color: var(--marron);
}

.uk-button {
    color: var(--marron);
}