{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-cowrking">
        <div class="uk-container">
            <img class="img-header-coworking" src="/assets/images/gite-de-luxe.jpg">
        </div> 

        <div class="line"></div>

    
        <div class="uk-container">
            <p class="uk-text-center-text-coworking">Nous mettons à disposition de notre clientèle une salle de 80 m² prête à l'emploi et agencable selon vos besoins. 
            Elle dispose de 30 tables et d'une centaines de chaises. La salle peut accueillir un espace de travail en salle de réunion, 
            en open space, en séminaire ou en évenement personnel, anniversaire, mariage et autre..  Si vous avez des demandes en particulières 
            n'hésiter pas à nous contacter.
            </p>
        </div>
     </div>
        <a class="uk-button uk-button-default" href="/reservation">Reservations</a>
{% endblock %}