{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-cowrking">
        <div>
            <img class="img-header-coworking" src="/assets/images/homeyacine.jpg">
        </div> 

        <div class="line"></div>

    
        <div class="uk-text-justify">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aperiam reprehenderit ullam dolorem beatae velit pariatur!
                Sapiente et, aspernatur deserunt, voluptatibus ipsum cum 
                placeat, exercitationem numquam suscipit nihil eveniet 
                dolore excepturi.
                Fugit deleniti eveniet quis! Fugit nesciunt voluptatum 
                veritatis repellendus molestias in perspiciatis dolor qui
                commodi, architecto aliquid repellat accusamus iusto 
                laudantium fuga? Reiciendis odio illum magni a dicta 
                recusandae nemo!
                Eaque eos non laborum distinctio a deleniti eligendi
                suscipit culpa rerum repudiandae! Quibusdam eum eveniet,
                ad nihil repellat id dolorum ipsa ducimus laboriosam,
                illum, perferendis laudantium debitis soluta. Labore,
                saepe.
                <br>
                Incidunt consectetur rerum, aut libero nisi saepe sunt
                ipsum vel facere repellat obcaecati deleniti aperiam
                totam ipsa et dicta nesciunt? Quod, consectetur. Quo
                dicta sint autem, quis adipisci nemo hic!
                Eligendi voluptatibus beatae incidunt ipsam reiciendis,
                illo obcaecati atque ea dolores sed aspernatur
                , possimus,
                ducimus at laudantium vitae blanditiis cumque eum
                excepturi iure nisi natus libero consectetur dolore 
                architecto? Labore?
                Eveniet quas qui, tenetur magnam nesciunt voluptates
                recusandae dolorem neque sed incidunt corrupti
                quisquam
                quasi reprehenderit ex voluptatibus vitae rerum minus
                sint tempore vel pariatur nihil ipsa laboriosam
                similique! Incidunt!
            </p>
        </div>
     </div>
        <a class="uk-button uk-button-default" href="">Reservations</a>
{% endblock %}