<footer>
   <p>&#169;Stra's gite | <a href="#">Mentions légales</a></p> 
   <ul>
        <li><a href=https://instagram.com><img src="/assets/images/instagram.svg"></a></li>
        <li><a href=https://facebook.com><img src="/assets/images/facebook.svg"></a></li>
    </ul>
</footer>