<nav class="uk-navbar-container">
	<div class="uk-container">
		<div uk-navbar>
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo" href="/" aria-label="logo strat's gite"><img class="img-logo" src="/assets/images/logov1.png"></a>
			</div>
			<div class="uk-navbar-right-1">
				<ul class="uk-navbar-nav">
					<li>
						<a href="">Réservation</a>
					</li>
					<li class="uk-active">
						<a href="#">Nos chambres</a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li class="uk-active">
									<a href="#">En ce moment</a>
								</li>
								<li>
									<a href="#">Chambre 1</a>
								</li>
								<li>
									<a href="#">Chambre 2</a>
								</li>
								<li>
									<a href="#">Chambre 3</a>
								</li>
								<li>
									<a href="#">Chambre 4</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="/tarifs">Nos tarifs</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
					{% if session.isadmin == true %}
						<li>
							<a href="/admin/dashboard">Admin</a>
						</li>
					{% endif %}
					{% if session.islogin == true %}
						<li>
							<a href="/logout">Deconnection</a>
						</li>
					{% else %}
						<li>
							<a href="/login">Login</a>
						</li>
					{% endif %}
				</ul>
			</div>
			<div class="uk-navbar-right-2">
				<a class="uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon href="#"></a>
				<div class="uk-navbar-dropdown">
					<ul class="uk-nav uk-navbar-dropdown-nav">
						<li>
							<a href="#">Nos services</a>
						</li>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li class="uk-active">
									<a href="#">Nos chambres</a>
								</li>
								<li>
									<a href="#">Chambre 1</a>
								</li>
								<li>
									<a href="#">Chambre 2</a>
								</li>
								<li>
									<a href="#">Chambre 3</a>
								</li>
								<li>
									<a href="#">Chambre 4</a>
								</li>
								<li class="uk-nav-header">Nous joindre</li>
								<li>
									<a href="#">Nos tarifs</a>
								</li>
								<li>
									<a href="">Réservation</a>
								</li>
								<li>
									<a href="">Contact</a>
								</li>

							</ul>

						</div>

					</ul>
				</div>
			</div>
		</div>
	</div>
</div></nav>
